@charset "UTF-8";
.str1 {stroke:rgb(184, 221, 97);stroke-width:500px;stroke-miterlimit:22.9256}
.str0 {stroke:rgb(255, 128, 0);stroke-width:400;stroke-miterlimit:22.9256}
.fil1 {fill:rgb(117, 72, 98); fill-opacity: 0.5}
.fil0 {fill:rgb(53, 22, 173)}
