 html, 
body { 
margin: 0; 
padding: 0; 
} 

body { 
width: 550px; 
height: 300px; 
font-size: 12px; 
font-family: Tahoma, Arial, sans-serif; 
} 

.profile { 
padding: 20px 10px; 
} 

.profile img { 
display: block; 
padding: 10px; 
border: 2px solid #34495e; 
border-radius: 20px; 
} 

.profile .photo { 
float: left; 
width: 152px; 
} 

.profile .info { 
float: left; 
width: 368px; 
margin-left: 10px; 
} 

.info #info-title, 
.info h2 { 
margin: 0!important; 
padding: 10px!important; 
font-weight: normal; 
font-size: 12px; 
color: #ffffff; 
background: #34495e; 
border-radius: 4px; 
} 

.profile .info .fact { 
padding: 10px; 
background: white; 
} 

.profile .info .fact:nth-child(odd) { 
background: #ecf0f1; 
} 

.fact::after { 
content: ""; 
display: table; 
clear: both; 
} 

.profile .fact .title { 
float: left; 
width: 120px; 
text-align: right; 
color: #7f8c8d; 
} 

.profile .fact .value { 
margin-left: 140px; 
color: #34495e; 
} 

.albums { 
margin-top: 5px; 
} 

.albums #miska, .albums img { 
float: left; 
margin-right: 5px; 
} 

.albums img:last-child { 
margin-right: 0; 
} 

.photo .button { 
display: block; 
height: 30px; 
margin: 5px 0; 
line-height: 30px; 
text-align: center; 
color: #ffffff; 
border-radius: 4px; 
} 

.photo .stroke { 
background: #3498db; 
} 

.stroke + .feed { 
background: #2ecc71; 
} 

.feed + .startle { 
background: #e74c3c; 
}