speciality
{
    margin: 20px auto;
    border: 5px double rgb(92, 172, 55);
    width: 870px;
    color: rgb(23, 21, 56);
    padding: 13px 13px 0px 13px;
}

university
{
    font-size: 20px;
    font-family: sans-serif;
    display:block;
    text-align:center;
    border: 1px solid rgb(226, 109, 109);
    margin-bottom: 13px;
    border-collapse: collapse;
    background-color: rgb(245, 245, 245);
}

title
{
    padding: 3px;
    border: inherit;    
    font-size: 22px;
    display: inherit;
}

passingScore
{
    padding: 3px;
    border: inherit;
    display: inherit;
}

recruitmentPlan
{
    padding: 3px;
    border: inherit;    
    display: inherit;

}

city
{
    padding: 3px;    
    border: inherit;
    display: inherit;
}
